<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ novel_title or "Chapter Reader" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div id="header">
    <div id="header-content">
      <!-- Form and h1 will be inserted here by JavaScript -->
       
    </div>
  </div>
  
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

 <div class="navigation">
<button id="theme-toggle">🌙</button>
</div>

  <div id="chapter-container"style="margin-top: 50px;">
    {% for chapter in chapters %}
      <div class="">
        {{ chapter | safe }}
      </div>
    {% endfor %}
    
  </div>
<script id="data" type="application/json">
  {{ {'start': start, 'end': end} | tojson }}
  
</script>

<script src="{{ url_for('static', filename='js/script.js') }}">

  
</script>

</body>
</html>